main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 80px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
  color: #088178;
  font-weight: 400;
  margin-bottom: 3rem;
}
img {
  height: 20rem;
  width: 40rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
#blogintro , p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #465b52;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
h5 {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 400;
  color: #0881799e;
  margin-bottom: 3rem;
}
#endbtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 4rem;
  margin-top: 0rem;
  gap: 1rem;
}
main a {
  display: inline-block;
  border: none;
  background-color: #088178;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
main a:hover {
  background-color: #065a56;
  transition: 0.5s;
}

@media screen  and (max-width: 1000px) {
  main div {
    max-width: 650px;
  }
  h5 {
    font-size: 2.5rem;
  }
  
}
@media screen  and (max-width: 650px) {
  main div {
    max-width: 450px;
  }
  h5 {
    font-size: 2rem;
  }
  img {
    height: 14rem;
    width: 29rem;
  }
  
}
@media screen  and (max-width: 450px) {
  main div {
    max-width: 350px;
  }
  h5 {
    font-size: 2rem;
  }
  img {
    height: 11rem;
    width: 22rem;
  }
  
}