/* ...page1 image ... */
#headercontent {
  height: 40vh;
  width: 100%;
  background-image: url(../Image/banner.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
#headercontent h1 {
  font-size: 4rem;
}
#headercontent p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
}

#pagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 120px;
}
#rightbox {
  height: 48vh;
  width: 45%;
  background-image: url(../Image/Screenshot\ 2025-12-12\ 004249.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
#leftbox {
  height: 48vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 28px;
}
#leftbox p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
#leftbox h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 35px;
  padding: 20px 0;
  padding-right: 10px;
  letter-spacing: 1px;
}
#leftbox h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
}
#leftbox li {
  color: #465b52;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}
#leftbox i {
  color: black;
  margin: 15px 10px;
}

/* ...message section... */
#message {
  display: flex;
  flex-direction: row;
  border: 2px solid #e1e1e1;
  width: 100%;
  padding: 3rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-bottom: 100px;
}
#inputbox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 63%;
}
#inputbox p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}
#inputbox h1 {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}
#inputbox input,
textarea {
  padding: 12px 15px;
  border: 1px solid #e1e1e1;
}
#inputbox textarea {
  height: 200px;
}

#personinfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
  justify-content: flex-start;
}
#infobox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#infobox img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
#info h1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 550;
  letter-spacing: 0.5px;
}
#info p {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 25px;
  color: #465b52;
}
#message a {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 14px 1px;
  background-color: #088178;
  color: white;
  width: 13%;
  text-align: center;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
  #message {
    max-width: 800px;
    justify-content: space-between;
  }
  #inputbox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 55%;
  }
  #personinfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 39%;
  }
  #message a {
    width: 33%;
  }
}

@media screen and (max-width: 800px) {
  #message {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    max-width: 640px;
    justify-content: space-between;
  }
  #inputbox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
  }
  #personinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    width: 52%;
  }
  #infobox {
    margin: 7px;
  }
}

@media screen and (max-width: 620px) {
  #pagecontainer {
    display: flex;
    flex-direction: column;
  }
  #leftbox {
    height: 48vh;
    width: 100%;
  }
  #headercontent {
    margin-bottom: 20px;
  }
  #rightbox {
    height: 48vh;
    width: 90%;
  }
  #message {
    max-width: 435px;
  }
  #inputbox {
    width: 100%;
  }

  #personinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #headercontent {
    height: 17vh;
    margin-bottom: 40px;
  }
  #inputbox textarea {
    height: 144px;
  }
  #headercontent h1 {
    font-size: 3rem;
  }
  #headercontent p {
    font-size: 1rem;
  }
}
