.productbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.img1 {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.img2,
.img3,
.img4 {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.productinfo h6 {
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
.productinfo h1 {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 600;
}
.productinfo h2 {
  font-size: 1.7rem;
  margin-top: 40px;
  font-weight: 600;
  margin-bottom: 14px;
}
.productinfo select {
  height: 27px;
  width: 128px;
}
.productinfo input {
  height: 40px;
  width: 59px;
  margin-right: 5px;
  padding: 0px 14px;
}

.productinfo button {
  background-color: #088178;
  color: white;
  border: none;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 11px 12px;
}
.productinfo h3 {
  margin-top: 20px;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.productinfo p {
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  line-height: 25px;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .productbox {
    max-width: 900px;
  }
  .img1 {
    height: 490px;
    width: 480px;
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  .productbox {
    max-width: 800px;
  }
  .img1 {
    height: 500px;
    width: 452px;
    object-fit: cover;
  }
  .productinfo h1 {
    margin-top: 28px;
    margin-bottom: 0px;
  }
  .productinfo h2 {
    font-size: 1.7rem;
    margin-top: 21px;
  }
  .productinfo h3 {
    margin-top: 18px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 800px) {
  .productbox {
    display: flex;
    flex-direction: column;
  }
  .productinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 80px;
  }
  .img1 {
    height: 506px;
    width: 507px;
    object-fit: cover;
  }
  .productinfo h6 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 7px;
  }
  .productinfo h1 {
    font-size: 2.5rem;
  }
  .productinfo h1 {
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .productinfo h2 {
    font-size: 2rem;
  }
  .productinfo h3 {
    margin-top: 18px;
    font-size: 1.7rem;
  }
  .productinfo button {
    background-color: #088178;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 13px 20px;
  }
  .productinfo select {
    height: 32px;
    width: 128px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 550px) {
  .img1 {
    height: 377px;
    width: 378px;
    object-fit: cover;
  }
  .productbox {
    margin-top: 37px;
  }
  .productinfo h1 {
    font-size: 2rem;
  }
  .productinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
  }
}

@media screen and (max-width: 400px) {
  .img1 {
    height: 317px;
    width: 315px;
    object-fit: cover;
  }
  .productinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 27px;
  }
}
